#section-marques{
    padding: 150px 0 ;
    .container{
        h2,
        p{
            text-align: center;
        }

        h2{
            text-transform: uppercase;
            font-weight: 500;
        }

        .grid{
            padding: 50px 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 50px;

            .block-img{
                border-left: 1px solid $light-gray;
                width: 60%;
                padding: 0 20%;
                filter: saturate(0);
                
                
                &:last-child,
                &:nth-child(4){
                    border-right: 1px solid $light-gray;
                }

                &:hover{
                    filter: saturate(1);
                }
            }
            
        }
    }
}