#section-contemporain{
    padding : 75px 0;

    .swiper-contempo{
        height: 700px;
        width: calc(50% + 100px);
        margin-right: 0;
        position: relative;
    
        .swiper-button-next-contempo,
        .swiper-button-prev-contempo{
            width: 50px;
            height: 50px;
            background-color: $primary-color;
            top: auto;
            left: calc(50vw - 50px);
            bottom: 0;
            position: absolute;
                
            &::after{
                font-size: .8rem;
                color : $light;
            }
        }
    
        .swiper-button-next-contempo{
            background-color: $light;
            left: calc( 50vw - 100px);
    
            &::after{
                font-size: .8rem;
                color : $middle-gray;
            }
        }
    }
    
    .container{
        margin-top: -380px;
        z-index: 11;
        position: relative;
        pointer-events: none;
        gap: 0;

        .colg{
            background-color: $light;
            width: calc( 50% - 80px);
            padding: 50px 80px 50px 0;
        }

        .cold{
            width: 50%;
        }
    }
}

#section-contemporain-mirror{
    padding : 50px 0;

    .swiper-contempo-mirror{
        height: 700px;
        width: calc(50% + 100px);
        margin-left: 0;
        position: relative;
    
        .swiper-button-next-contempo-mirror,
        .swiper-button-prev-contempo-mirror{
            width: 50px;
            height: 50px;
            background-color: $primary-color;
            top: auto;
            right: calc(50vw - 50px);
            left: auto;
            position: absolute;
            bottom: 0;
                
            &::after{
                font-size: .8rem;
                color : $light;
            }
        }
    
        .swiper-button-prev-contempo-mirror{
            background-color: $light;
            right: calc( 50vw - 100px);
            left: auto;
            position: absolute;
    
            &::after{
                color : $middle-gray;
            }
        }
    }
    
    .container{
        margin-top: -380px;
        z-index: 11;
        position: relative;
        pointer-events: none;
        gap: 0;

        .colg{
            width: 50%;
        }

        .cold{
            background-color: $light;
            width: calc( 50% - 80px);
            padding: 50px 0 50px 80px;
        }
    }
}