#section-introduction{
    padding: 100px 0 50px;

    .container{
        gap: 100px;

        .cold,
        .colg{
            width: 50%;

            h3{
                font-size: 1.2rem;
                text-transform: uppercase;
                letter-spacing: 5px;
                color: $primary-color;
                margin: 20px 0 10px;
                line-height: 2rem;
                font-weight: 300;
            }
        }

        .colg{
            h2{
                strong{
                    color:$primary-color;
                }
            }
            

            .block-img{
                margin-top: 80px;
                height: 500px;
            }
        }

        .cold{
            padding-top: 100px;

            p + p {
                margin-bottom: 50px;
            }
        }
    }
}