#section-fullscreen{
    height: 90vh;
    min-height: 700px   ;
    position: relative;
    margin: 50px auto;
    background-size: cover;
    background-position: center;

    .container{
        position: absolute;
        bottom: 0;
        left: 12.5vw;
    

        .colg{
            background-color: $light;
            padding: 80px 50px;
            width: calc(50% - 100px);
            
            h2{
                margin-bottom: 30px;
            }

            p{
                margin-top: 20px;
                text-align: left;
            }
        }
    }
}