#section-philosophie{
    padding: 75px 0;

    .block-img{
        margin-left: 0;
        width: 75vw;
        height: 550px;
    }

    .swiper-philo{
        height: 550px;
        width: 75vw;
        margin-left: 0;
        position: relative;

        .swiper-button-next-philo,
        .swiper-button-prev-philo{
            width: 50px;
            height: 50px;
            background-color: $primary-color;
            top: auto;
            left: calc(50vw - 50px);
            bottom: 0;
            position: absolute;
            
            &::after{
                font-size: .8rem;
                color : $light;
            }
        }

        .swiper-button-prev-philo{
            background-color: $light;
            left: calc(50vw - 100px);
            position: absolute;

            &::after{
                font-size: .8rem;
                color : $middle-gray;
            }
        }
    }

    .container{
        margin-top: -350px;
        position: relative;
        z-index: 10;
        gap: 0;

        .cold{
            background-color: $dark-dark-gray;
            padding: 80px 50px;
            color: $light;
            width: calc( 50% - 100px);

            a{
                color:$light;
                font-weight: 300;
            }

            .cta{
                font-weight: 400;
            }
        }
    }
}