#section-introduction{
    padding: 100px 0 50px;

    .container{
        gap: 100px;

        .cold,
        .colg{
            width: 50%;

            h3{
                font-size: 1rem;
                text-transform: uppercase;
                letter-spacing: 6px;
                color: $primary-color;
                margin: 25px 0 5px;
                line-height: 2rem;
                font-weight: 700;
            }

            a{
                text-decoration: none;
                color : $primary-color;
                font-weight: 500;
            }
            
        }

        .colg{
            h2{
                margin-bottom: 40px;
                strong{
                    color:$primary-color;
                }
            }

            p + p {
                margin-top: 20px;
            }
            
            .block-img{
                margin-top: 80px;
                height: 500px;
            }
        }

        .cold{
            padding-top: 100px;

            p + p {
                margin-top: 20px;
            }
        }
    }
}