#hero{
    height: 70vh;
    min-height: 750px;
    position: relative;

    .swiper-hero{
        height: 70vh;
        min-height: 750px;

        .swiper-wrapper{
            .swiper-slide{
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                transition: all ease-in 300ms;
                overflow: hidden;

                a{
                    text-align: center;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    font-weight: 600;
                    color: $light;
                    letter-spacing: 10px;
                    text-decoration: none;
                    position: relative;
                    flex-direction: column;
                    gap: 50px;
                    font-size: 1.2rem;
                    z-index: 1;
                    
                    &::before{
                        content: '';
                        background-color: rgba(0,0,0,.5);
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        top: 0;
                        left: 0;
                        position: absolute;
                    }

                    &:after{
                        content:'';
                        height: 2px;
                        width: 40px;
                        background-color: $light;
                    }
                }

                &:hover{

                    a{
                        opacity: 1;
                    }
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev{
        background-color: $light;
        color: $dark-dark-gray;

        padding:40px 20px;
        position: absolute;
        left: 2.5vw;
        top: calc(50% - 50px);

        &::after{
            font-size: .9rem;
        }
    }

    .swiper-button-next{
        right: 2.5vw;
        left: auto;
    }
}


  
