.page-template-inspirations{
    #section-header{
        .container{
            display: none;
        }
    }

    #section-inspirations{
        .container{
            h2{
                width: fit-content;
                margin: auto;
                padding: 30px 80px;
                margin-top: -120px;
                background: $light
            }
        }
    }

    #section-contact{
        .banner{
            display: none;
        }
    }
}